/* Get Andada Pro font family from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');

* {
    font-family: "Andada Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
nav .navbar-nav .nav-item .nav-link
{
   color: black;
}
nav .navbar-nav .nav-item .nav-link:hover
{
   color: rgb(202, 118, 8);
}

/* All buttons Should Look this way */
.myBtn {
    background-color:rgb(245, 204, 150);
    border-color: rgb(245, 204, 150);
    border-radius: 10px;
    font-weight: bold;
    padding: 5px;
}
.myBtn:hover{
    background-color:rgb(228, 159, 69);
    transform: scale(1.05); /* Slightly increase button size */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.question-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drug-label {
    width: 95%;
    margin-bottom: 20px;
}
#disableList {
    color: #f4f4f4;
}

#nextPrev {
    width: 100%;
    display: flex;
    justify-content:space-between;
}


#exam_mode {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #4c77af;
    cursor: pointer;
    color: white;
}

/* Container style to center the button */
.center-container {
    text-align: center;
}

.end{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 37, 37);
    cursor: pointer;
}
.end:hover{
    background-color: rgb(167, 15, 15);
}
#disabled {
    background-color: #adb4ad;
}
.invisible-numbering li {
    list-style-type: none;
}

.question-container label:first-of-type {
    width: 50px; /* Adjust as needed to accommodate the widest numbering */
    flex-shrink: 0; /* Prevent the first label from shrinking */
}
.header {
    /* background-color: #477bff; */
    color: black;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
#end_style{
    text-decoration: none;
    color: black;
}
body{
    background-color: antiquewhite;
}

/* For Index page */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
.examHeader {
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

/* Style the dropdown menus */
.dropdown {
    display: none;
    padding-left: 10px;
    border: 1px solid #ccc;
}
.question {
    cursor: pointer;
}
.footer {
    padding: 15px;
}
.questContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* This allows items to wrap to the next line on smaller screens */
}

.questColumn {
    flex: 1;
    margin: 10px;
    min-width: 200px; /* Ensures columns don't get too small */
}

.question_item {
    padding: 5px;
    background-color: #f4f4f4;
    margin: 5px 0;
    border: 1px solid #ddd;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .questContainer {
        flex-direction: column; /* Stacks the columns vertically */
        align-items: center; /* Centers the columns */
    }

    .questColumn {
        width: 100%; /* Full width for each column */
        max-width: 500px; /* Max width to keep it manageable */
    }
/*     new line for to set options on mobile */
    ul {
    list-style-type: none;
    padding: 0;
}

.question-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.question-item label {
    margin: 0;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-left: 10px;
}

.radio-group input {
    margin-left: 5px;
}

}

.profile_img {
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

/* Rankings Page */
table {
   background-color: transparent;
   border-collapse: collapse;
   width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}
caption, th {
    text-align: left;
}
.table h2 {
    background-color: antiquewhite;
}
caption {
    padding: 1rem;
    caption-side: top;
}
th {
    background-color:rgb(228, 159, 69);
    font-size: small;
}
/* td, th {
    word-break: normal;
    white-space: break-word;

} */
tbody tr:nth-of-type(even) {
   background-color: rgb(245, 224, 197);
}
tbody tr:nth-of-type(odd) {
   background-color: transparent;
}
#high-ranker {
    background-color: rgb(250, 58, 58);
    color: gold;
    font-weight: bold;
}
#ranker {
    background-color: rgb(44, 44, 173);
    color: white;
}
