
.question-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: antiquewhite; */
}

.drug-label {
    /* margin: 20px 20px 20px 20px;
    padding: 20px; */
    width: 95%;
    margin-bottom: 20px;
    /* background-color: #b18a8a; */
}

.pill-bottle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pill {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#pill {
    opacity: 0;
}

#toggle {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

#toggle:hover {
    background-color: #3e8e41;
}
#nextPrev {
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.Previous{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #c46729;
    cursor: pointer;
}
.Previous:hover{
    background-color: #884d26;
}
.next{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    cursor: pointer;
}
.next:hover{
    background-color: #3e8e41;
}

/* Container style to center the button */
.center-container {
    text-align: center;
}

.next-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white; /* Set text color */
    cursor: pointer;
    font-size: 16px; /* Adjust font size if needed */
    text-align: center;
    display: inline-block; /* Ensure proper padding and styling */
    text-decoration: none; /* Remove underline */
}

.next-button:hover {
    background-color: #3e8e41;
}

.next-button a {
    color: white; /* Ensure link text color */
    text-decoration: none; /* Remove underline from link */
    display: block; /* Make the link cover the entire button area */
}

.end{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(219, 37, 37);
    cursor: pointer;
}
.end:hover{
    background-color: rgb(167, 15, 15);
}
#disabled {
    background-color: #adb4ad;
}
.invisible-numbering li {
    list-style-type: none;
}
/* .question-container {
    display: flex;
    align-items: center; /* Align items vertically 
}*/

.question-container label:first-of-type {
    width: 50px; /* Adjust as needed to accommodate the widest numbering */
    flex-shrink: 0; /* Prevent the first label from shrinking */
}
.header {
    /* background-color: #477bff; */
    color: black;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
#end_style{
    text-decoration: none;
    color: white;
}
body{
    /* background-color: rgb(167, 157, 145); */
    background-color: antiquewhite;
}

/* For Index page */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: rgb(206, 204, 202);
    /* color: #fff; */
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.examHeader {
    background-color: rgb(190, 47, 37);
    /* color: #fff; */
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

/* Style the dropdown menus */
.dropdown {
    display: none;
    padding-left: 10px;
    border: 1px solid #ccc;
    /* margin-top: 5px;
    background-color: #f9f9f9; */
}
.question {
    cursor: pointer;
    /* margin: 10px 0; */
}
.footer {
    padding: 15px;
}
.questContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* This allows items to wrap to the next line on smaller screens */
}

.questColumn {
    flex: 1;
    margin: 10px;
    min-width: 200px; /* Ensures columns don't get too small */
}

.question_item {
    padding: 5px;
    background-color: #f4f4f4;
    margin: 5px 0;
    border: 1px solid #ddd;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .questContainer {
        flex-direction: column; /* Stacks the columns vertically */
        align-items: center; /* Centers the columns */
    }

    .questColumn {
        width: 100%; /* Full width for each column */
        max-width: 500px; /* Max width to keep it manageable */
    }
/*     new line for to set options on mobile */
    ul {
    list-style-type: none;
    padding: 0;
}

.question-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.question-item label {
    margin: 0;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-group label {
    margin-left: 10px;
}

.radio-group input {
    margin-left: 5px;
}

}
