{% extends "layout.html" %}

{% block title %}
    Quiz App
{% endblock %}
    
{% block main %}
    <div class="header">
        <h1>Welcome to practice MCQs!</h1>	
    </div>

    <div class="container">
        <div class="section">
            <!-- Choose mode to work -->
            <p>Read mode displays the answers to question
                alongside the question, thus ideal for last minute exam prep.
                You can Choose which mode to work on.
            </p>
                Read Mode: <button id="exam_mode">Off</button>
            <hr>
            <br>
                <h2>Pick a region for Best Choice (Only First Posting for now)</h2>
                <!-- Best Choice sesction -->
                <form action="{{ url_for('index') }}" method="post">
                    {% for region in regions %}
                    <input type="radio" name="region" value="{{ region }}">{{ region }}<br>
                    {% endfor %}
                    
                    <br><br>

                    <input type="number" name="start" min="1" max="750" placeholder="number">
                    <input id="mode_choice1" name="exam_mode" value="Off" type="hidden">
                    <input class="next" type="submit" value="Start">
                </form>
            <hr>
                <!-- MCQ section -->
                <h2>Pick a region for MCQs</h2>
                <form action="{{ url_for('index') }}" method="post">
                    <div class="questContainer">
                    {% for i in range(3) %}
                        <div class="questColumn">
                            {% for j in range(5) %}
                                <input class="question_item" type="radio" name="region" value="{{ mcq_regions[i*5 + j] }}">{{ mcq_regions[i*5 + j] }}<br>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                    <br><br>
                    
                    <input type="number" name="start" min="1" max="750" placeholder="number">
                    <input id="mode_choice2" name="exam_mode" value="Off" type="hidden">
                    <input class="next" type="submit" value="Start">
                </form>
        </div>
    </div>
{% endblock %}
