{% extends "layout.html" %} {% block script %}
<link rel="stylesheet" href="/static/css/auth.css" /> {% endblock %} {% block title
%} User login Page {% endblock %} {% block main %}

<div class="parent">
    <div class="greet">
        <h1>Welcome To pathPharm</h1>
        <center>
            <p>Sign Up or Sign In to Study</p>
        </center>
        
    </div>

    <div class="twoFactor">
        <p>
            <!-- Google OAuth route -->
            <a href="/login">
                <svg aria-hidden="true" class="native svg-icon iconGoogle" width="24" height="24" viewBox="0 0 18 18"
                    style="vertical-align: text-bottom">
                    <path fill="#4285F4"
                        d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 0 0 2.38-5.88c0-.57-.05-.66-.15-1.18">
                    </path>
                    <path fill="#34A853"
                        d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 0 1-7.18-2.54H1.83v2.07A8 8 0 0 0 8.98 17">
                    </path>
                    <path fill="#FBBC05" d="M4.5 10.52a4.8 4.8 0 0 1 0-3.04V5.41H1.83a8 8 0 0 0 0 7.18z"></path>
                    <path fill="#EA4335"
                        d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 0 0 1.83 5.4L4.5 7.49a4.8 4.8 0 0 1 4.48-3.3">
                    </path>
                </svg>
                Log In with Google
            </a>
        </p>

        <p>
            <!-- Facebook OAuth route -->
            <a href="#">
                <svg aria-hidden="true" class="native svg-icon iconFacebook" width="24" height="24" viewBox="0 0 24 24"
                    style="vertical-align: text-bottom">
                    <path fill="#1877F2"
                        d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.351C0 23.407.593 24 1.325 24h11.495v-9.294H9.69v-3.622h3.13V8.413c0-3.1 1.893-4.788 4.658-4.788 1.325 0 2.462.099 2.794.143v3.24l-1.918.001c-1.504 0-1.794.715-1.794 1.762v2.309h3.587l-.467 3.622h-3.12V24h6.116C23.407 24 24 23.407 24 22.675V1.325C24 .593 23.407 0 22.675 0z" />
                </svg>
                Log In with Facebook
            </a>
        </p>
        <!-- Create byepas for Admin user -->
        <form class="byepas" action="{{ url_for('byepas') }}" method="post">
            <input type="hidden" value="1" name="bypass">
            <input type="submit" value="Bypass">
        </form>
    </div>
</div>
{% endblock %}
